@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">lsqdreamgazer@163.com</a><br />
    <strong>QQ:</strong> 574110878</a>
</address>